<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888722604602-44cshlqurf09bujssqqtn8rihrsaa37k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888722604602-44cshlqurf09bujssqqtn8rihrsaa37k</string>
	<key>API_KEY</key>
	<string>AIzaSyC0EUDlQRiwX9zBSgiCdbgfO_SBwYKV8O0</string>
	<key>GCM_SENDER_ID</key>
	<string>888722604602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jyothy.udecproject2</string>
	<key>PROJECT_ID</key>
	<string>deductive-case-379908</string>
	<key>STORAGE_BUCKET</key>
	<string>deductive-case-379908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888722604602:ios:5ff5f7d7a08d9c7f8dab03</string>
</dict>
</plist>